.flex {
  display: flex;

  &.direction-column {
    flex-direction: column;
  }

  &.reverse {
    flex-direction: row-reverse;

    &.direction-column {
      flex-direction: column-reverse;
    }
  }

  &.align-center {
    align-items: center;
  }

  &.align-start {
    align-items: flex-start;
  }

  &.align-end {
    align-items: flex-end;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  &.justify-end {
    justify-content: flex-start;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-around {
    justify-content: space-around;
  }
}